
.reveal .title {
  color: #9467bd;
}

.reveal .slide h2 {
  color: #9467bd;
  text-align: center; /* Opcional: centrar títulos */
    line-height: 1; /* Ajusta según necesites */
}

.reveal {
  color: #444444; /* Puedes ajustar este valor */
}